
.login-component {
  max-width: 370px;
  margin: auto;
  background: ghostwhite;
  padding: 1.725em;
}

.login-component button {
  width: 100%;
  padding: 1.125em;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1.125rem;
}

.login-component button:focus {
  color:red;
}

.login-component #lock {
  width: 40%;
  display: block;
}

.login-component #fb {
  background: #3B5998 url(/assets/images/facebook.svg) no-repeat 100% 100%;
  color: #fff;
  background-position-x: 12px;
  background-position-y: center;
  background-size: auto 60%;
}

.login-component #google {
  border: 1px solid #95989A;
  background: #fff url(/assets/images/google.svg) no-repeat;
  background-size: 30px;
  color: dimgray;
  background-position-x: 14px;
  background-position-y: center;
}

.login-component #email {
  background: #ECECEC url('/assets/images/gmail.svg') no-repeat;
  background-size: 30px;
  background-position-x: 14px;
  background-position-y: center;
  color:dimgray;
}
