{% extends "layouts/layout_default.html" %}
{% block pagetitle %}用户登录{% endblock %}
{% block maincontent %}
<!--<h1>用户登录</h1>-->
<!--<div>-->

    <!--{% if (error) %}-->
    <!--<div class="error">-->
        <!--用户名或密码错误-->
    <!--</div>-->
    <!--{% endif %}-->

    <!--<form action="/login" method="post">-->
        <!--<p><span>用户名: </span>-->
            <!--<input type="text" id="username" name="username" /></p>-->
        <!--<p><span>密码: </span>-->
            <!--<input type="password" id="password" name="password" /></p>-->
        <!--<p>-->
            <!--<input type="submit" class="button" value="确认" />-->
        <!--</p>-->
    <!--</form>-->
<!--</div>-->


<app-root></app-root>
{% endblock %}