<div class="form-container signup-component">

  <a routerLink="/login" id="goback">Go back</a>

  <h5>用户注册</h5>

  <span class="error" *ngIf="error" [@fallIn]="state">{{ error }}</span>

  <form #formData="ngForm" (onSubmit)="onSubmit(formData)">

    <input type="text" placeholder="Emaill address" (ngModel)="email" name="email" class="txt" required />
    <input type="text" placeholder="Password" (ngModel)="password" name="password" class="txt" required />

    <button type="submit" [disabled]="!formData.valid" class="basic-btn button">Create my account</button>

  </form>

</div>
