<div class="form-container signup-component">

  <a routerLink="/login" id="goback">Go back</a>

  <h5>用户注册</h5>

  <span class="error" *ngIf="error" [@fallIn]="state">{{ error }}</span>

  <form #formData="ngForm" (onSubmit)="onSubmit(formData)">

    <div class="input-group">
      <span class="input-group-label" style="padding: 0 .425rem;color:dimgray;">
        <i class="material-icons">&#xE8D3;</i>
      </span>
      <input class="input-group-field" type="text" placeholder="Email address" (ngModel)="email" name="email" required>
    </div>


    <div class="input-group">
      <span class="input-group-label" style="padding: 0 .425rem;color:dimgray;">
        <i class="material-icons">&#xE897;</i>
      </span>
      <input class="input-group-field" type="password" placeholder="Password" (ngModel)="Password" name="Password" required>
    </div>


    <div class="input-group">
      <span class="input-group-label" style="padding: 0 .425rem;color:dimgray;">
        <i class="material-icons">&#xE0CD;</i>
      </span>
      <input class="input-group-field" type="text" placeholder="Phone" (ngModel)="phone" name="phone" required>
    </div>

    <div class="input-group">
      <span class="input-group-label" style="padding: 0 .425rem;color:dimgray;">
        <i class="material-icons">&#xE88A;</i>
      </span>
      <input class="input-group-field" type="text" placeholder="Address" (ngModel)="address" name="address" required>
    </div>


    <button type="submit" [disabled]="!formData.valid" class="basic-btn button" style="margin-top: 1rem;">Create my account</button>

  </form>

</div>
