.signup-component {
  max-width: 370px;
  /*margin: auto;*/
  background: ghostwhite;
  padding: 1.725em;
}

.signup-component button {
  width: 100%;
  padding: 1.125em;
  font-size: 1.2em;
  font-weight: bold;
}
